name: Score

on:
  workflow_dispatch:
  issues:
    types:
      - opened

permissions:
  contents: write
  issues: write

jobs:
  Score:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7

      - name: Run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: uv run main.py

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'chore: change score'
          branch: ${{ github.head_ref || github.ref_name }} # Works for both push and pull_request
